/* FILE: css/responsive.css */


/* =====================================
   LARGE SCREEN
===================================== */


@media(min-width:1400px){


  .projects-container {


    max-width:

      1500px;


  }



  .hero-content {


    max-width:

      1100px;


  }


}





/* =====================================
   LAPTOP
===================================== */


@media(max-width:1200px){


  .header {


    padding-inline:

      40px;


  }



  .projects {


    padding-inline:

      40px;


  }



  .project-card {


    gap:

      50px;


  }


}





/* =====================================
   TABLET
===================================== */


@media(max-width:1024px){


  .project-card {


    grid-template-columns:

      1fr;


  }



  .project-media {


    height:

      65vh;


  }



  .project-info {


    max-width:

      600px;


  }



  .hero {


    align-items:

      flex-end;


  }



  .hero-content {


    padding-bottom:

      80px;


  }


}





/* =====================================
   MOBILE
===================================== */


@media(max-width:900px){


  body {


    overflow-x:

      hidden;


  }



  .hero {


    min-height:

      100svh;


  }



  .hero-content h1 {


    letter-spacing:

      -.05em;


  }



  .projects-container {


    gap:

      90px;


  }



  .project-media {


    height:

      55vh;


  }



  .project-info p {


    font-size:

      16px;


  }



  footer {


    padding:

      50px 20px;


  }


}





/* =====================================
   SMALL MOBILE
===================================== */


@media(max-width:480px){


  .hero-content span {


    font-size:

      12px;


  }



  .hero-content h1 {


    font-size:

      44px;


  }



  .hero-content p {


    font-size:

      15px;


  }



  .button {


    width:

      100%;


  }



  .project-media {


    height:

      45vh;


    border-radius:

      20px;


  }



  .project-info h3 {


    font-size:

      36px;


  }


}





/* =====================================
   TOUCH DEVICES
===================================== */


@media(hover:none){


  .project-media img {


    transform:

      none !important;


  }



  .magnetic {


    transform:

      none !important;


  }


}